@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 Footer Style 4
/*----------------------------------------*/
.tp-footer-4 {
  &-big-title {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 3px;
    font-family: var(--tp-ff-heading);
    color: var(--tp-common-black);
    margin-bottom: 70px;
    @media #{$xxxl} {
      font-size: 125px;
    }
    @media #{$xxl} {
      font-size: 108px;
    }
    @media #{$xl} {
      font-size: 72px;
    }
    @media #{$lg} {
      font-size: 65px;
    }
    @media #{$md} {
      font-size: 55px;
    }
    @media #{$xs} {
      font-size: 50px;
    }
    & span {
      display: inline-block;
      line-height: 0;
      transform: translateX(20px);
    }
  }
  &-top {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &-left {
      & p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: var(--tp-common-white);
        font-family: var(--tp-ff-marcellus);
      }
    }
  }
}
