$colors: (
  'common': (
    'white': #f5f7f5,
    'white-solid': #fff,
    'black': #444,
    'black-2': #444,
    'black-3': #444,
    'dark': #444,
    'orange': #eb5939,
  ),
  'grey': (
    '1': #262626,
    '2': #f4f4f4,
    '3': #5d5d63,
    '4': #f7f7f7,
  ),
  'text': (
    'body': #5d5d63,
  ),
  'theme': (
    '1': #336ef9,
  ),
  'border': (
    '1': #eaeaeb,
  ),
);

$white: #fff;
$black: #444;
$theme-primary: #336ef9;
$border-primary: #f1f1f9;
